# Python Fundamentals

In [ ]:
print()

In [ ]:
print("Hello GFGians. Hope you are doing Great!")

Hello GFGians. Hope you are doing Great!

In [ ]:
print('Hello GFGians. Hope you are doing Great!')

Hello GFGians. Hope you are doing Great!

In [ ]:
print("Hello GFGians. Hope You're are doing Great!")

Hello GFGians. Hope You're are doing Great!

In [ ]:
print('\"Hello GFGians. Hope you are doing Great!\"')

"Hello GFGians. Hope you are doing Great!"

In [ ]:
print('''"Hello GFGians. Hope you are doing Great!"''')

"Hello GFGians. Hope you are doing Great!"

In [ ]:
print("Hi","How are you","Hope you are doing Awesome in Life!",sep = '\n')

Hi
How are you
Hope you are doing Awesome in Life!

In [ ]:
print("Hello,My regular Meal starts at:", 7,"AM")

Hello,My regular Meal starts at: 7 AM

In [ ]:
#Declaring a Variable

first name = "Manthan"

SyntaxError: invalid syntax (ipython-input-3547359341.py, line 3)

In [ ]:
11first_name = "Manthan"

SyntaxError: invalid decimal literal (ipython-input-3489108163.py, line 1)

In [ ]:
first_name = "Manthan"

In [ ]:
print("Your first name is", first_name)

Your first name is Manthan

In [ ]:
print(f"Your first name is {first_name}") # using formatted string

Your first name is Manthan

In [ ]:
# input() function

input()

7

'7'

In [ ]:
first_name = input("Please enter your name: ")

Please enter your name: Ram

In [ ]:
print(f"Your first name is {first_name}")

Your first name is Ram

In [ ]:
age = input("Please enter your age:")

Please enter your age:twenty one

In [ ]:
age

'twenty one'

In [ ]:
age = int(input("Please enter your age:"))

Please enter your age:21

In [ ]:
age

21

In [ ]:
type(23.44),type(True),type("True"),type(age)

(float, bool, str, int)

In [ ]:
#Operators
type(34>48)

bool

In [ ]:
34>48

False

In [ ]:
23 == 32

False

In [ ]:
12>= 12

True

In [ ]:
-23<=-12

True

In [ ]:
18!=9

True

In [ ]:
"Hi">"Hello"

True

In [ ]:
len("Hey, How's the life going!")

26

In [ ]:
# WAp to Swap two numbers

a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
print(f"The numbers are : a ={a},b={b}")

a,b = b,a
print(f"The numbers are : a ={a},b={b}")

Enter the first number:56
Enter the second number:90
The numbers are : a =56,b=90
The numbers are : a =90,b=56

In [ ]:
# Floor Operator

3//2

1

In [ ]:
13//7

1

In [ ]:
# modulus operator - it gives the remainder

3%2

1

In [ ]:
# Exponential operator

2*3

6

In [ ]:
2**10

1024

In [ ]:
# identity operator

2 is 12

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipython-input-3261908274.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 12

False

In [ ]:
# membership operator "in"
#To be continued---------

# Data Structures

In [ ]:
# Lists
# Tuple
# Dictionary
# SET

In [ ]:
#LIST

my_list = [12,34,55.44,"GFG",True,-21]

In [ ]:
type(my_list)

list

In [ ]:
# Access the list elements

my_list[0]

12

In [ ]:
my_list[-1]

-21

In [ ]:
my_list[-2]

True

In [ ]:
# Slicing

my_list[0:5]

[12, 34, 55.44, 'GFG', True]

In [ ]:
my_list[0:6:]

[12, 34, 55.44, 'GFG', True, -21]

In [ ]:
my_list[0:6:3]

[12, 'GFG']

In [ ]:
my_list[:5:]

[12, 34, 55.44, 'GFG', True]

In [ ]:
my_list[1::]

[34, 55.44, 'GFG', True, -21]

In [ ]:
my_list[::-1] #It reverses the list

[-21, True, 'GFG', 55.44, 34, 12]

In [ ]:
# Editing the list

my_list[2] = "Hello"

In [ ]:
my_list

[12, 34, 'Hello', 'GFG', True, -21]

In [ ]:
my_list.append(12.21) # add an element at the last of the list

In [ ]:
my_list

[12, 34, 'Hello', 'GFG', True, -21, 12.21]

In [ ]:
my_list.pop() #removes the element from the last if left blank

12.21

In [ ]:
my_list.pop(4) #removes the element from the index you mentioned

True

In [ ]:
my_list

[12, 34, 'Hello', 'GFG', -21]

In [ ]:
my_list.remove("Hello") #deletes the value not the index

In [ ]:
my_list

[12, 34, 'GFG', -21]

In [ ]:
my_list.insert(0,"Rain") #insert helps in inserting of element here 0 is index and rain is the element that we are inserting in a list

In [ ]:
my_list

['Rain', 12, 34, 'GFG', -21]

In [ ]:
# Tuple

your_tuple = (12,34,55.44,"GFG",True,-21)

In [ ]:
type(your_tuple)

tuple

In [ ]:
your_tuple[1] = 'Formula1'

TypeError: 'tuple' object does not support item assignment

In [ ]:
your_tuple.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
your_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# Searching the tuple Element

your_tuple.index("GFG")

3

In [ ]:
your_tuple[3]

'GFG'

In [ ]:
# Slicing

your_tuple[0:3]

(12, 34, 55.44)

In [ ]:
your_tuple[1::-1]

(34, 12)

In [ ]:
your_tuple

(12, 34, 55.44, 'GFG', True, -21)

In [ ]:
#Set

my_set = set()

In [ ]:
type(my_set)

set

In [ ]:
my_set = {12,34,55.44,"GFG",True,-21}

In [ ]:
type(my_set)

set

In [ ]:
my_set[1]

TypeError: 'set' object is not subscriptable

In [ ]:
my_set[1:5]

TypeError: 'set' object is not subscriptable

In [ ]:
your_set = {11,11,34,"GFG",11,-78,"GFG"}

In [ ]:
your_set # Removes the duplicates

{-78, 11, 34, 'GFG'}

In [ ]:
your_set.append(23)

AttributeError: 'set' object has no attribute 'append'

In [ ]:
your_set.add(23)

In [ ]:
your_set

{-78, 11, 23, 34, 'GFG'}

In [ ]:
your_set.pop()

-78

In [ ]:
your_set

{-78, 11, 23, 'GFG'}

In [ ]:
my_list
your_list = [23,90,-7.66,"SSCCLL",False]

In [ ]:
my_list,your_list

(['Rain', 12, 34, 'GFG', -21], [23, 90, -7.66, 'SSCCLL', False])

In [ ]:
list(zip(your_list,my_list)) #This is called as list of tuples

[(23, 'Rain'), (90, 12), (-7.66, 34), ('SSCCLL', 'GFG'), (False, -21)]

In [ ]:
# Dictionary

my_dict = {"Name":"Manthan","Age":21,"Gender":"Male"}

In [ ]:
type(my_dict)

dict

In [ ]:
my_dict

{'Name': 'Manthan', 'Age': 21, 'Gender': 'Male'}

In [ ]:
my_dict.values()

dict_values(['Manthan', 21, 'Male'])

In [ ]:
my_dict.keys()

dict_keys(['Name', 'Age', 'Gender'])

In [ ]:
my_dict.items()

dict_items([('Name', 'Manthan'), ('Age', 21), ('Gender', 'Male')])

In [ ]:
list(my_dict.items())

[('Name', 'Manthan'), ('Age', 21), ('Gender', 'Male')]

## Loops and Conditional Statements

In [ ]:
if True:
  print("Good Afternoon")
if False:
  print("Good Evening")

Good Afternoon

In [ ]:
if 34<-34:
  print("Correct Answer")

In [ ]:
# Reflection of Ms-Excel [=IF(,,)]

if 13==3:
  print("Correct Answer")
else:
  print("Wrong Answer")

Wrong Answer

In [ ]:
marks = int(input("Please enter your marks: "))
if marks>45:
  print("You have passed the exam")
else:
  print("You are required to Reappear the exam")

Please enter your marks: 45
You are required to Reappear the exam

In [ ]:
marks = int(input("Please enter your marks: "))

if marks>90:
  print("Grade A")
elif marks>80:
  print("Grade B")
elif marks>70:
  print("Grade C")
elif marks>60:
  print("Grade D")

else:
  print("Grade F: Please Retry")

Please enter your marks: 79
Grade C

In [ ]:
# Design a Security System for logging a device

username = input("Please enter your username: ")
password = input("Please enter your password: ")

if username == "Manthan" and password == '3789':
  print("Access granted!")
else:
  print("Incorrect username or password")

Please enter your username: Manthan
Please enter your password: 3789
Access granted!

In [ ]:
username = input("Please enter your username: ")

if username == "Manthan":
  password = input("Please enter your password: ")
# Nested if implemented
  if password == '3789':
    print("Access granted!")
  else:
    print("Incorrect password")
else:
  print("Incorrect Username!")

Please enter your username: Manthan
Please enter your password: 3789
Access granted!

In [ ]:
# WAP to find a given no, is Odd or Even?

num = int(input("Enter the number: "))
if num%2==0:
  print("It is an even number")
else:
  print("It is an odd number")

Enter the number: 3
It is an odd number

In [ ]:
for i in range(0,20):
  print("I'm proud to be a Data Analyst")

I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst
I'm proud to be a Data Analyst

In [ ]:
for i in [23,112,-9,90.34,"GHG","LinkedIn"]:
  print(i)

23
112
-9
90.34
GHG
LinkedIn

In [ ]:
for i in [23,112,-9,90.34,"GHG","LinkedIn"]:
  print(i*0.2)

4.6000000000000005
22.400000000000002
-1.8
18.068

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
my_list = [1,2,3,4,5,6,7,-9,55.67,-98.777]

for k in my_list:
  if k%2==0:
    print(f"{k} is EVEN")
  else:
    print(f"{k} is ODD")

1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
-9 is ODD
55.67 is ODD
-98.777 is ODD

In [ ]:
# Wap to check the username and password from a dictionary

database = {"Varun": 1234,"Deepakk":3355."Sandhya":4512,"John":8891}

if username == "Varun" and password == 1234:
  print("Access Granted")
  -----------To much repetition for 200 Entries

In [ ]:
database = {"Varun": 1234,"Deepakk":3355,"Sandhya":4512,"John":8891}

username = input("Enter the Username: ")
password = int(input("Enter the Password: "))


if username in database.keys() and password == database[username]:
  print("Access Granted")
else:
  print("Access Denied")

Enter the Username: Sandhya
Enter the Password: 4512
Access Granted

In [ ]:
my_list = (1,2,3,4,5,6,7,-9,55.67,-98.777)

for k in my_list:
  if k%2==0:
    print(f"{k} is EVEN")
  else:
    print(f"{k} is ODD")

1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
-9 is ODD
55.67 is ODD
-98.777 is ODD

In [ ]:
database = {"Varun": 1234,"Deepakk":3355,"Sandhya":4512,"John":8891}

for item in database:
  print(item)

Varun
Deepakk
Sandhya
John

In [ ]:
for item in database.keys():
  print(item)

Varun
Deepakk
Sandhya
John

In [ ]:
for item in database.values():
  print(item)

1234
3355
4512
8891

In [ ]:
for item in database.items():
  print(item)

('Varun', 1234)
('Deepakk', 3355)
('Sandhya', 4512)
('John', 8891)

In [ ]:
database

{'Varun': 1234, 'Deepakk': 3355, 'Sandhya': 4512, 'John': 8891}

In [ ]:
database.items()

dict_items([('Varun', 1234), ('Deepakk', 3355), ('Sandhya', 4512), ('John', 8891)])

In [ ]:
list(database.items())

[('Varun', 1234), ('Deepakk', 3355), ('Sandhya', 4512), ('John', 8891)]

In [ ]:
for i in "Hey Guys, Hope You are Awesome with Coolie":
  print(i)

H
e
y

G
u
y
s
,

H
o
p
e

Y
o
u

a
r
e

A
w
e
s
o
m
e

w
i
t
h

C
o
o
l
i
e

In [ ]:

stt = "Hey Guys, Hope You are Awesome with Coolie"
for i in stt.split():
  print(list(i))

['H', 'e', 'y']
['G', 'u', 'y', 's', ',']
['H', 'o', 'p', 'e']
['Y', 'o', 'u']
['a', 'r', 'e']
['A', 'w', 'e', 's', 'o', 'm', 'e']
['w', 'i', 't', 'h']
['C', 'o', 'o', 'l', 'i', 'e']

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/sample_data.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     float64
 1   Unnamed: 1  13 non-null     object
 2   Unnamed: 2  13 non-null     object
 3   Unnamed: 3  13 non-null     object
 4   Unnamed: 4  13 non-null     object
dtypes: float64(1), object(4)
memory usage: 692.0+ bytes

In [ ]:
df.isna()

    Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0         True        True        True        True        True
1         True       False       False       False       False
2        False       False       False       False       False
3        False       False       False       False       False
4        False       False       False       False       False
5        False       False       False       False       False
6        False       False       False       False       False
7        False       False       False       False       False
8        False       False       False       False       False
9        False       False       False       False       False
10       False       False       False       False       False
11       False       False       False       False       False
12       False       False       False       False       False
13       False       False       False       False       False

In [ ]:
df.isnull()

    Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0         True        True        True        True        True
1         True       False       False       False       False
2        False       False       False       False       False
3        False       False       False       False       False
4        False       False       False       False       False
5        False       False       False       False       False
6        False       False       False       False       False
7        False       False       False       False       False
8        False       False       False       False       False
9        False       False       False       False       False
10       False       False       False       False       False
11       False       False       False       False       False
12       False       False       False       False       False
13       False       False       False       False       False

In [ ]:
df.isna().sum()

Unnamed: 0    2
Unnamed: 1    1
Unnamed: 2    1
Unnamed: 3    1
Unnamed: 4    1
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.head()

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0         NaN        NaN        NaN        NaN        NaN
1         NaN       Name         ID     Gender     Salary
2         0.0    Utkarsh          1       Male      95000
3         1.0     Kartik          2       Male      85000
4         2.0  Aishwarya          3     Female      75000